:root {
  /* Primary */
  --light-red: hsl(0, 100%, 67%);
  --orangey-yellow: hsl(39, 100%, 56%);
  --green-tea: hsl(166, 100%, 37%);
  --cobalt-blue: hsl(234, 85%, 45%);

  /* Gradient */
  --light-slate-blue: hsl(252, 100%, 67%);
  --light-royal-blue: hsl(241, 81%, 54%);
  --violet-blue: hsla(256, 72%, 46%, 1);
  --persian-blue: hsla(241, 72%, 46%, 0);

  /* Neutral */
  --white: hsl(0, 0%, 100%);
  --pale-blue: hsl(221, 100%, 96%);
  --light-lavender: hsl(241, 100%, 89%);
  --dark-gray-blue: hsl(224, 30%, 27%);
}
.fw-400 {
  font-weight: 400;
}
.fw-700 {
  font-weight: 700;
}
.fw-800 {
  font-weight: 800;
}

.lowlight {
  color: hsl(201, 7%, 63%);
}
* {
  font-family: "Hanken Grotesk", sans-serif;
}
body,
h1,
h2,
p {
  margin: 0;
}

/* Mobile */
.card {
  display: flex;
  flex-direction: column;
}

.card .result {
  color: var(--white);
  background: linear-gradient(
    to bottom,
    var(--light-slate-blue),
    var(--light-royal-blue)
  );

  border-radius: 0 0 35px 35px;
  padding-bottom: 50px;

  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.card .result #your-result {
  color: var(--light-lavender);
}

.card .result p {
  font-size: 18px;
  color: var(--light-lavender);
  max-width: 300px;
}

.card .result .circle {
  width: 150px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-radius: 50%;
  background: linear-gradient(
    to bottom,
    var(--violet-blue),
    var(--persian-blue)
  );
}

.card .result .circle h1 {
  font-size: 3.6rem;
}
.card .result .circle p {
  font-size: 0.9rem;
}

.card .summary {
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.card .summary .bar-wrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.card .summary #summary {
  color: var(--dark-gray-blue);
  margin: 0;
}

.card .summary .summary-bar {
  display: flex;
  justify-content: space-between;

  padding: 20px 15px;
  border-radius: 10px;
}

.card .summary #reaction {
  background: hsl(6, 100%, 98%);
  color: var(--light-red);
}

.card .summary #memory {
  background: hsl(42, 100%, 97%);
  color: var(--orangey-yellow);
}

.card .summary #verbal {
  background: hsl(173, 53%, 97%);
  color: var(--green-tea);
}

.card .summary #visual {
  background: hsl(240, 71%, 97%);
  color: var(--cobalt-blue);
}

.card .summary .summary-bar .status {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.card .summary .summary-bar .score {
  color: var(--dark-gray-blue);
}
.card .summary .btn-continue {
  background: var(--dark-gray-blue);
  color: var(--white);
  border-radius: 25px;
  font-size: 18px;
  padding: 10px;
}

@media screen and (min-width: 768px) {
  .card {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: 50%;
    transform: translate(-50%, -50%);

    flex-direction: row;
    border-radius: 30px;
    box-shadow: 0.5rem 1rem 3rem hsl(224, 30%, 27%, 0.2);
  }

  .card .result {
    color: var(--white);
    background: linear-gradient(
      to bottom,
      var(--light-slate-blue),
      var(--light-royal-blue)
    );

    border-radius: 35px;
    padding: 30px 0;
    padding-inline: 55px;
    gap: 20px;
  }

  .card .result p {
    font-size: 18px;
    min-width: 250px;
  }

  .card .result .circle {
    width: 200px;
    height: 200px;
  }
  .card .result .circle h1 {
    font-size: 4rem;
  }
  .card .result .circle p {
    font-size: 18px;
  }

  .card .summary .summary-bar {
    min-width: 250px;
  }
}
