@use "base";
@use "mixin";

body {
  margin: 1rem;
  background: url("../images/bg-intro-mobile.png"), base.$red;
}

.signup {
  margin-top: 5.5rem;
  display: grid;
  gap: 4rem;
  &__header {
    text-align: center;
    color: white;
    &__title {
      font-weight: 700;
      margin-bottom: 1rem;
      font-size: 1.75rem;
    }
    &__text {
      line-height: 1.55;
      padding: 0 1rem;
    }
  }
  &__main {
    &__trial {
      background-color: base.$blue;

      @include mixin.main-shadow;
      margin-bottom: 1.25rem;
      color: white;
      text-align: center;
      padding: 1.25rem 4rem;
      border-radius: 0.625rem;
      font-weight: 400;
      &--highlight {
        font-weight: 700;
      }
    }
    &__form {
      background-color: white;
      border-radius: 0.625rem;
      padding: 1.5rem;
      margin-bottom: 5.5rem;
      text-align: center;
      @include mixin.main-shadow;
      &__submit {
        background-color: base.$green;
        @include mixin.button-shadow;
        color: white;

        font-family: "Poppins", sans-serif;
        border: none;
        border-radius: 0.3125rem;
        padding: 0.9375rem;
        width: 100%;

        font-size: 1rem;
        font-weight: 400;
        letter-spacing: 1px;
        text-transform: uppercase;
        cursor: pointer;
        &:hover {
          opacity: 0.8;
        }
      }
      &__text {
        margin-top: 1rem;
        padding: 0 0.625rem;
        line-height: 2;
        color: base.$grayish-blue;
        font-size: 0.75rem;
        &--highlight {
          text-decoration: none;
          font-weight: 700;
          color: base.$red;
        }
      }
    }
    &__input {
      margin-bottom: 0.625rem;
      position: relative;

      font-family: "Poppins", sans-serif;
      width: 100%;
      border: 1px solid hsl(246, 25%, 77%);
      border-radius: 0.3125rem;
      padding: 1rem;

      &::placeholder {
        color: base.$dark-blue;
        font-weight: 500;
        font-size: 0.875rem;
      }
      &:focus {
        outline: none;
        border: 1px solid base.$blue;
      }
      &--invalid {
        border: 2px solid base.$red;
        background-image: url("../images/icon-error.svg");
        background-repeat: no-repeat;
        background-position: right 1rem center;
      }
      &-error {
        display: none;
        text-align: right;
        position: relative;
        top: -0.5rem;
        z-index: 1;

        font-size: 0.625rem;
        color: base.$red;

        font-style: italic;
        font-weight: 400;
      }
    }
  }
}

// Desktop
@media screen and (min-width: 768px) {
  body {
    display: flex;
    justify-content: center;
    background: url("../images/bg-intro-desktop.png"), base.$red;
    margin: 0;
  }
  .signup {
    margin-top: 0;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    grid-template-areas:
      "header main"
      "header main";
    &__header {
      grid-area: header;
      grid-row: 1 / span 4;
      text-align: left;
      max-width: 500px;
      &__title {
        font-size: 3.1rem;
        line-height: 1.2;
        margin-bottom: 2rem;
      }
      &__text {
        padding: 0;
      }
    }
    &__main {
      max-width: 540px;
      grid-area: main;
      grid-row: 2 / span 2;
      &__form {
        padding: 2.5rem;
        margin-bottom: 0;
      }
      &__input {
        margin-bottom: 1.25rem;

        padding: 1.1rem 1.5rem;
        &-error {
          top: -0.875rem;
          font-size: 0.75rem;
        }
      }
    }
  }
}
