/* Colors */
:root {
  /* Primary */
  --purple: 259, 100%, 65%;
  --light-red: 0, 100%, 67%;

  /* Neutral */
  --white: 0, 0%, 100%;
  --off-white: 0, 0%, 94%;
  --light-grey: 0, 0%, 86%;
  --smokey-grey: 0, 1%, 44%;
  --off-black: 0, 0%, 8%;
}

/* Fonts */
@font-face {
  font-family: "Poppins";
  src: url("assets/fonts/Poppins-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("assets/fonts/Poppins-Italic.ttf");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Poppins";
  src: url("assets/fonts/Poppins-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("assets/fonts/Poppins-ExtraBold.ttf");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("assets/fonts/Poppins-ExtraBoldItalic.ttf");
  font-weight: 800;
  font-style: italic;
}

/* Mobile */

body {
  font-family: "Poppins";
  background-color: hsl(var(--light-grey));
}
.card {
  background-color: hsl(var(--white));
  border-radius: 1.5em;
  border-bottom-right-radius: 6.5em;
  padding: 50px 20px 20px 20px;
  /* margin: 90px 10px; */
}

.input-field {
  display: flex;
  gap: 10px;
  padding: 10px 0;
  justify-content: space-between;
  box-sizing: border-box;
}

.input-field input {
  /* width: 3.8rem; */
  /* height: 1.5rem; */
  max-width: 3.5rem;
  padding: 10px 15px;
  border-radius: 10px;
  border: 0.5px solid hsl(var(--light-grey));
  font-weight: 800;
  font-size: 1.1em;
  color: hsl(var(--off-black));
}

.input-field label {
  font-size: 0.75em;
  display: block;
  line-height: 2;
  font-weight: 700;
  color: hsl(var(--smokey-grey), 0.8);
  letter-spacing: 3px;
}
.input-field .input-focus {
  outline: 0.5px solid hsl(var(--light-red));
}
.input-field .error {
  margin: 0;
  padding: 0;
  color: hsl(var(--light-red));
  font-size: 0.55em;
}
.card .divider {
  position: relative;
  margin: 50px 0 40px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card .divider button {
  position: absolute;
  border: none;
  border-radius: 50%;
  background-color: hsl(var(--purple));
  padding: 15px;
}
.card .divider hr {
  width: 100%;
  border: 1px solid hsl(var(--off-white));
}

.result {
  display: inline-block;
  margin-top: 1px;
  font-size: 3.35em;
  font-weight: 800;
  font-style: italic;
  line-height: 0.15;
}
.result .highlight {
  color: hsl(var(--purple));
}

/* Desktop */
@media screen and (min-width: 768px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .card {
    border-bottom-right-radius: 12.5rem;

    box-sizing: border-box;
    min-width: 840px;
    padding: 3.5em;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: 50%;
    transform: translate(-50%, -50%);
  }
  .card .divider button {
    position: unset;
    width: 8em;
    height: 7em;
  }
  .card .divider button:hover {
    background-color: hsl(var(--off-black));
  }
  .input-field {
    justify-content: unset;
    gap: 40px;
    line-height: 3;
  }

  .input-field input {
    font-size: 2em;
    max-width: 150px;
    max-height: 90px;
  }
  .input-field .error {
    font-size: 14px;
    font-style: italic;
  }

  .card .divider {
    margin: 0;
  }

  .result {
    font-size: 6.5em;
    line-height: 1;
  }
}
