@use "base";

.container {
  margin: 1rem;
}
.header {
  margin: 1.875rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__logo {
    img {
      width: 3rem;
      height: auto;
    }
  }
  &__hamburger {
    cursor: pointer;
    border: none;
  }
  &__nav {
    display: none;
    font-family: base.$Inter;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    // opacity: 0;
    &__content {
      width: 70%;
      height: 100%;
      float: right;
      background-color: base.$off-white;
    }
    &__close {
      cursor: pointer;
      background: none;
      border: none;
      margin: 1.5rem;
      float: right;
    }
    &__list {
      margin-top: 8.125rem;
      list-style: none;
      li {
        padding: 0.75rem 1.5rem;
        a {
          text-decoration: none;
          color: base.$dark-blue;
          font-weight: 400;
        }
      }
    }
  }
}
.main {
  &__hero {
    width: 100%;
    margin-bottom: 1rem;
  }
  &__news {
    &__title {
      font-family: base.$Inter;
      margin-bottom: 1rem;
      font-size: 2.5rem;
      font-weight: 800;
    }
    &__content {
      &__text {
        font-family: base.$Inter;
        color: base.$dark-grayish-blue;
        line-height: 1.5;
        margin-bottom: 1rem;
        font-size: 0.938rem;
        font-weight: 400;
      }
      &__button {
        font-family: base.$Inter;
        padding: 0.95rem 2rem;
        background-color: base.$soft-red;
        border: none;
        color: base.$off-white;
        text-transform: uppercase;
        font-size: 1rem;
        font-weight: 700;
        letter-spacing: 3px;
        cursor: pointer;
        transition: 0.5s;
        &:hover {
          background-color: base.$dark-blue;
          transition: 0.5s;
        }
      }
    }
  }
  margin-bottom: 3.75rem;
}

.sidebar {
  background-color: base.$dark-blue;
  color: base.$off-white;
  font-family: base.$Inter;
  max-height: 480px;
  overflow: hidden;
  margin-bottom: 3.75rem;
  &__trending {
    padding: 1.25rem;
    &__title {
      color: base.$soft-orange;
      font-size: 2rem;
      font-weight: 700;
      margin: 0.5rem 0;
    }
    &__list {
      list-style: none;
      &__item {
        max-width: 300px;
        padding: 1.563rem 0;
        border-bottom: 1px solid base.$grayish-blue;
      }
      &__title {
        font-size: 1.25rem;
        font-weight: 700;
        margin-bottom: 0.5rem;
        cursor: pointer;
        transition: 0.4s;
        &:hover {
          color: base.$soft-orange;
          transition: 0.4s;
        }
      }
      &__text {
        color: base.$grayish-blue;
        font-size: 0.938rem;
        line-height: 1.75;
        font-weight: 400;
      }
    }
  }
}
.article {
  .card {
    font-family: base.$Inter;
    display: flex;
    gap: 1.563rem;
    margin: 1.875rem 0;
    &__image {
      width: 100px;
      height: 130px;
    }
    &__content {
      &__No {
        color: base.$grayish-blue;
        font-size: 2rem;
        font-weight: 700;
      }
      &__title {
        font-size: 1.25rem;
        font-weight: 700;
        margin: 0.5rem 0;
        transition: 0.4s;
        &:hover {
          color: base.$soft-red;
          transition: 0.4s;
        }
      }
      &__text {
        color: base.$dark-grayish-blue;
        line-height: 1.5;
      }
    }
  }
}
