*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  background-color: hsl(27, 66%, 92%);
}

.container {
  margin: 0 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
  height: 100%;
  justify-content: center;
}

.balance {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: hsl(10, 79%, 65%);
  border-radius: 0.625rem;
  padding: 1rem;
}
.balance__col-1 {
  font-family: "DM Sans", sans-serif;
}
.balance__logo {
  width: 3.75rem;
  height: 2.5rem;
  aspect-ratio: 1.5;
}
.balance__title {
  font-size: 1.125rem;
  font-weight: 400;
  color: hsl(27, 66%, 92%);
  margin-bottom: 0.25rem;
}
.balance__amount {
  font-size: 1.75rem;
  font-weight: 700;
  color: hsl(33, 100%, 98%);
}

.chart {
  background-color: hsl(33, 100%, 98%);
  border-radius: 0.625rem;
  padding: 1.25rem;
  font-family: "DM Sans", sans-serif;
}
.chart__title {
  margin-top: 5px;
  font-size: 1.5rem;
  font-weight: 700;
  color: hsl(25, 47%, 15%);
}
.chart__grid {
  margin-bottom: 2rem;
  padding-bottom: 1.563rem;
  height: 250px;
  display: flex;
  justify-content: space-between;
  align-items: end;
  border-bottom: 1px solid hsl(27, 66%, 92%);
}
.chart__group {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: -moz-fit-content;
  height: fit-content;
  height: -moz-max-content;
  cursor: pointer;
  width: 4.25rem;
  transition: 0.3s;
}
.chart__group:hover .chart__bar {
  opacity: 0.6;
  transition: 0.3s;
}
.chart__group:hover .chart__box {
  display: block;
}
.chart__bar {
  width: 2rem;
  color: hsl(10, 79%, 65%);
  border-radius: 0.188rem;
  background-color: hsl(10, 79%, 65%);
  animation: rising-bar 0.8s linear;
  position: relative;
}
.chart__bar--active {
  background-color: hsl(186, 34%, 60%);
}
.chart__bar__col-1 {
  height: 50px;
}
.chart__bar__col-2 {
  height: 100px;
}
.chart__bar__col-3 {
  height: 150px;
}
.chart__bar__col-4 {
  height: 90px;
}
.chart__bar__col-5 {
  height: 67px;
}
.chart__bar__col-6 {
  height: 124px;
}
.chart__bar__col-7 {
  height: 73px;
}
.chart__box {
  display: none;
  color: hsl(33, 100%, 98%);
  font-weight: 700;
  font-size: 1rem;
  background-color: hsl(25, 47%, 15%);
  padding: 0.5rem;
  margin-bottom: 0.45rem;
  border-radius: 0.313rem;
}
.chart__label {
  margin-top: 0.625rem;
  font-size: 0.75rem;
  color: hsl(28, 10%, 53%);
}
.chart__total {
  display: flex;
  padding-bottom: 5px;
  justify-content: space-between;
}
.chart__total__title {
  color: hsl(28, 10%, 53%);
  font-weight: 400;
  font-size: 0.975rem;
  line-height: 1.5;
}
.chart__total__amount {
  color: hsl(25, 47%, 15%);
  font-weight: 700;
  font-size: 1.85rem;
}
.chart__total__col-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: end;
}
.chart__total__percent {
  color: hsl(25, 47%, 15%);
  font-weight: 700;
}
.chart__total__text {
  color: hsl(28, 10%, 53%);
  font-weight: 400;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 540px;
    margin: 0 auto;
    gap: 1.5rem;
  }
  .balance {
    padding: 1.5rem 2rem;
    border-radius: 1.25rem;
  }
  .balance__title {
    font-size: 1.25rem;
  }
  .balance__amount {
    font-size: 2.45rem;
  }
  .balance__logo {
    width: 4.563rem;
    height: 3.063rem;
    aspect-ratio: 1.4897159647;
  }
  .chart {
    border-radius: 1.25rem;
    padding: 1.5rem 2rem;
  }
  .chart__title {
    font-size: 2rem;
    margin-bottom: 0.5rem;
  }
  .chart__grid {
    height: 280px;
  }
  .chart__bar {
    border-radius: 0.313rem;
    width: 3.125rem;
  }
  .chart__box {
    width: 100%;
  }
  .chart__total {
    padding-bottom: 1.25rem;
  }
  .chart__total__col-2 {
    font-size: 18px;
  }
  .chart__total__title {
    font-size: 18px;
  }
  .chart__total__amount {
    font-size: 3rem;
  }
}
@keyframes rising-bar {
  0% {
    height: 0;
  }
}/*# sourceMappingURL=main.css.map */