@use "base";

// Mobiles

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: base.$very-dark-blue;
  font-size: 15px;
  margin: 88px 8px;
}

.card {
  display: flex;
  flex-direction: column;
  max-width: 330px;
  &__illustration {
    background-color: base.$soft-violet;
    background-image: url(../images/image-header-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
    width: 100%;
    height: 240px;
    border-radius: 10px 10px 0 0;
  }
  &__content {
    padding: 30px;
    background-color: base.$dark-desaturated-blue;
    border-radius: 0 0 10px 10px;
    text-align: center;
  }
  &__title {
    font-family: "Inter", sans-serif;

    color: base.$white;
    margin-bottom: 20px;
    &-highlight {
      color: base.$soft-violet;
    }
  }
  &__text {
    font-family: "Lexend Deca", sans-serif;
    font-weight: 400;
    color: base.$slightly-transparent-white-main-paragraph;
    margin-bottom: 40px;
    line-height: 2;
  }

  &__status-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }
  &__status {
    display: flex;
    flex-direction: column;
    gap: 10px;

    &-counter {
      font-family: "Inter", sans-serif;
      color: base.$white;
      font-weight: 700;
    }
    &-text {
      color: base.$slightly-transparent-white-stat-heading;
      font-family: "Lexend Deca";
      text-transform: uppercase;
      font-size: 13px;
    }
  }
}

// Desktop
@media screen and (min-width: 768px) {
  body {
    margin: 0;
  }
  .card {
    max-width: none;
    flex-direction: row-reverse;
    max-height: 444px;
    &__illustration {
      background-image: url(../images/image-header-desktop.jpg);
      height: 444px;
      background-size: cover;
      border-radius: 0 10px 10px 0;
    }
    &__content {
      border-radius: 10px 0 0 10px;
      padding: 70px;
      text-align: left;
    }
    &__title {
      margin-bottom: 30px;
      font-size: 35px;
    }
    &__text {
      max-width: none;
      margin-bottom: 60px;
      width: 90%;
    }
    &__status-wrapper {
      flex-direction: row;
      gap: 60px;
    }
  }
}
